<div class="title">
	<h2>Colchones</h2>
</div>
<ul>
	<li *ngFor="let p of mattressList">
		<div class="imgDiv">
			<img src="{{p.img}}" height="200" width="200" alt="Image not found"/>
		</div>
		<div class="contentDiv">
			<a routerLink="/colchones/{{p.id}}"><h4>{{p.id}}</h4></a>
			<h5>{{p.prize}}€</h5>
		</div>
		<button (click)="deleteElement(p.id)">Eliminar</button>
	</li>
</ul>

<form [formGroup]="productForm" (ngSubmit)=addElement()>
	<label>Id: 
		<input type="text" formControlName="id">
	</label>
	<label>Precio: 
		<input type="number" formControlName="prize">
	</label>
	<label>Descripción: 
		<input type="text" formControlName="description">
	</label>
	<label>Imagen: 
		<input type="file" accept="image/png, image/jpeg" (change)="onFileChange($event.target.files)" required>
	</label>
	<button type="submit" [disabled]="!productForm.valid" class="sButton" (click)="addElement()">Añadir</button>
</form>