<div class="title">
	<h2>Colchones</h2>
</div>

<!-- Unordered list for showing the products instead of table.
	 At less file, change tr and td for ul and li elements.-->
<!--<ul>
	<li *ngFor="let p of mattressList">
		<div class="imgDiv">
			<img src="{{p.img}}" height="200" width="200" alt="Image not found"/>
		</div>
		<div class="contentDiv">
			<a routerLink="/colchones/{{p.id}}"><h4>{{p.id}}</h4></a>
			<h5>{{p.prize}}€</h5>
		</div>
		<button *ngIf="isAdmin" (click)="deleteElement(p.id)">Eliminar</button>
	</li>
</ul>-->

 <table>
     <tr *ngFor="let p of mattressList | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
       <td>
   			<div class="imgDiv">
				<img src="{{p.img}}" height="200" width="200" alt="Image not found"/>
			</div>
			<div class="contentDiv">
				<a routerLink="/colchones/{{p.id}}"><h4>{{p.id}}</h4></a>
				<h5>{{p.prize}}€</h5>
			</div>
			<button *ngIf="isAdmin" class="delBtn" (click)="deleteElement(p.id)">Eliminar</button>
       </td>
     </tr>
  </table>
  <ngb-pagination [collectionSize]="mattressList.length" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
  	<ng-template ngbPaginationFirst>First</ng-template>
  	<ng-template ngbPaginationLast>Last</ng-template>
  	<ng-template ngbPaginationPrevious>Prev</ng-template>
  	<ng-template ngbPaginationNext>Next</ng-template>
  	<ng-template ngbPaginationEllipsis>...</ng-template>
  	<ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>
   </ngb-pagination>

<div *ngIf="isAdmin">
	<form [formGroup]="productForm" (ngSubmit)=addElement()>
		<h2>Añadir Elemento</h2>
		<label>Id: 
			<input type="text" formControlName="id">
		</label>
		<label>Precio: 
			<input type="number" formControlName="prize">
		</label>
		<label>Descripción: 
			<input type="text" formControlName="description">
		</label>
		<label>Imagen: 
			<input type="file" accept="image/png, image/jpeg" (change)="onFileChange($event.target.files)" required>
		</label>
		<button type="submit" [disabled]="!productForm.valid" class="sButton" (click)="addElement()">Añadir</button>
	</form>
</div>
<!--TODO: Pagination is not working properly-->