<nav>
  <ul class="sideul">
    <li class="sideli">
      <a class="sidea" routerLink="/">Inicio</a>
    </li>
    <li class="sideli"> 
      <a class="sidea" routerLink="/colchones">Colchones</a>
    </li>
    <li class="sideli"> 
      <a class="sidea" routerLink="/somieres">Somieres</a>
    </li>
    <!--For now, bool for login-->
    <li class="sideli" *ngIf="!cookieExist">
      <a class="sidea" routerLink="/login">Login</a>
    </li>
    <!--Need for logout. Pending of JWT feature-->
    <li class="sideli" *ngIf="cookieExist">
      <a class="sidea" routerLink="/" (click)="logOut()">Logout</a>
    </li> 
  </ul>
</nav>
<header>
  <h1>{{title}}</h1>
  <label>Expertos en tu descanso</label>
</header>
<main class="fluffy">
  <router-outlet (activate)="onRouterOutletActivate()"></router-outlet>
</main>
