<div *ngIf="bedBase; else notFound">
	<h2 class="title">{{bedBase.id}}</h2>
	<!--TODO: src-data descargada de MOngo-->
	<img class="content" src="{{bedBase.img}}" width="500" height="500" alt="No image found">
	<span class="content">{{bedBase.prize}} €</span>
	<p class="content">{{bedBase.description}}</p>
</div>

<div class="edit" *ngIf="isAdmin">
	<span>Edición de producto</span>
	<input type="text" [(ngModel)]=bedBase.id>
	<input type="text" [(ngModel)]=bedBase.prize>
	<textarea rows="10" cols="50" [(ngModel)]=bedBase.description></textarea>
</div>
<div class="btn-div" *ngIf="isAdmin">
	<button (click)="editProduct()">Editar</button>
	<button (click)="deleteProduct()">Eliminar</button>
</div>
<ng-template #notFound>
	<span class="notFound">No existe el producto consultado.</span>
</ng-template>