@font-face {
  font-family: KameFree;
  src: url(/assets/fonts/KameFree.ttf);
}

@font-face {
  font-family: Folks-Normal;
  src: url(/assets/fonts/Folks-Normal.ttf);
}

@font-face {
  font-family: Kiona;
  src: url(/assets/fonts/Kiona.ttf);
}

p, label {
	font-family: Folks-Normal;
	display: block;
	margin: 10px;
}

input[type=text]{
	width: 187px;
}

h2 {
	font-family: KameFree;
}

div {
	margin-bottom: 20px;
}

button {
	margin-left: 10px;
}